.navbar-nav{
    display: flex;
    justify-content:flex-end !important; 
    /* flex not working so margin used */
    margin: 0 0 0 60em;
}
.nav-item{
   padding-right: 3 0px;
}
a:hover { 
    background-color: gray;
  }
