
<header>
  <div class="container">
    <nav class="navbar navbar-expand-sm bg-dark navbar-dark fixed-top">
        <a class="navbar-brand" href="#">mylogo</a>
        <ul class="navbar-nav">
            <li class="nav-item">
              <a class="nav-link" routerLink="">Home</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" routerLink="/list">List</a>
            </li>
          </ul>
      </nav>
      
  </div>
</header>

<router-outlet></router-outlet>
