<div class="margin">
        <h1>Breweries</h1>

        <ul *ngIf="brews">
          <li *ngFor="let brew of brews">
            <p class="name">{{ brew.name }}</p>
            <p class="country">{{ brew.country }}</p>
            <a class="site" href="{{ brew.website_url }}">site</a>
          </li>
        </ul>
    </div>
    