<div class="margin">
    home is working
</div>

<div class="play-container">
    <p> you've clicked <span (click)="countClick()">this</span> {{clickCounter}} times.</p>
</div>
<div class="play-container">
        <p>
           Enter : <input type="text" [(ngModel)]="name"><br>
            <strong>You said: </strong> {{ name }}
        </p>
    </div>

            <!-- <div class="play-container" [style.background-color]="clickCounter > 4 ? 'yellow' : 'lightgray'"> -->

        <!-- <div class="play-container" [ngStyle]="{
            'background-color': clickCounter > 4 ? 'yellow' : 'lightgray',
            'border':           clickCounter > 4 ? '4px solid black' : 'none'}
        "> do so, if more then 1 style want to apply -->

        <div class="play-container" [class.active]="clickCounter > 4 ">  <!-- with this css property is have to mentioned in css file  -->
           <!-- another way of writing -->
            
            <ng-template [ngIf]="clickCounter > 4" [ngIfElse]="none">
                <p>The click counter <strong>IS GREATER</strong> than 4.</p>
            </ng-template>
        
            <ng-template #none>
                <p>The click counter is <strong>not greater</strong> than 4.</p>
            </ng-template>
        </div>